<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>361611853544-1k4ppobh7utnuelbvj367fnu9lobgrod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.361611853544-1k4ppobh7utnuelbvj367fnu9lobgrod</string>
	<key>API_KEY</key>
	<string>AIzaSyAhS37p1GSAbZ4uonc-aCEJsRoB40lmdBg</string>
	<key>GCM_SENDER_ID</key>
	<string>361611853544</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.app.GaurdianDrive</string>
	<key>PROJECT_ID</key>
	<string>gaurdian-drive</string>
	<key>STORAGE_BUCKET</key>
	<string>gaurdian-drive.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:361611853544:ios:45458a0abcaef047f1935d</string>
</dict>
</plist>
